*~
*.diff
*.swp
*.Po
*.o
*.lo
*.a
*.la
*.so
*.so*
test_install/
*.o
.libs/
*.patch
cscope.files
cscope.out
cscope.*
*.tar.gz
node*1/
node*2/
node*3/
node*4/
node*5/
node*6/
tags
#.gitignore
*/src/server/srx_server
*/src/tools/rpkirtr_client
*/src/tools/rpkirtr_svr
quagga-0.99.16/bgpd/bgpd
connect_bgp2.sh
server_txt
server_txt2
telnet_run.sh
spawn_node*.sh
proj_bgp2_srx/
srxsvr_client
repo.srx.git/
*.orig
callgrind.*
gmon.out
sample-profile-test/
gprof*
spawn*.sh
profile-*
test_result/
*/bgpd/bgpd
svn-trunk/
svn-branch/
cap_*
SourceTempTest/
garbage_cleaner*
srx-*connect*
duplicate_prefix
quagga-original/
diff_*
*.tmp
git.svn/
Makefile
Makefile.in
*/Makefile.in
extras/
/*/**/.deps/
*.log
*.status
libtool
config.h
stamp-h1
extras/files/
rpm.srx.trunk.svn/
rpm.quagga-srx.trunk.svn/
srx-server-rev.txt
030/srx-0.3.0.1/src/server/srx_server
030/srx-0.3.0.1/src/tools/rpkirtr_client
030/srx-0.3.0.1/src/tools/rpkirtr_svr
*.rpm
.deps/
quagga.spec
030/quaggasrx-0.99.22/babeld/*
030/quaggasrx-0.99.22/pkgsrc/*
ripd
ripngd
030/quaggasrx-0.99.22/tests/
watchquagga
testzebra
zebra
babeld
*/pkgsrc/*.sh
*/tests/[a-z]*
quaggasrx/srx/
#*.conf
temp-*/
*.private
*.pub
quaggasrx/bgpd/test_csr2
srx/confdefs.h
bgpsec-keys/
*.old
.gdbinit
configure
autom4te.cache/
bgpd/bgpd
doc/defines.texi
lib/version.h
pkgsrc/bgpd.sh
pkgsrc/ospf6d.sh
pkgsrc/ospfd.sh
pkgsrc/ripd.sh
pkgsrc/ripngd.sh
pkgsrc/zebra.sh
vtysh/extract.pl
aclocal.m4
config.h.in
make_cscope.sh
*.swo
_inst
quagga-srx/doc/defines.texi
quagga-srx/lib/version.h
quagga-srx/vtysh/extract.pl
srx-crypto-api/srx_crypto_tester
srx-crypto-api/srxcryptoapi-0.3.0.1.spec
srx-crypto-api/srxcryptoapi-devel-0.3.0.1.spec
srx-crypto-api/srxcryptoapi_lib64.conf
srx-server/src/client/srxproxy64.conf
srx-server/src/rpkirtr_client
srx-server/src/rpkirtr_svr
srx-server/src/server/srx_serverd
srx-server/src/srx-0.5.1.1.spec
srx-server/src/srx-proxy-0.5.1.1.spec
srx-server/src/srx-proxy-devel-0.5.1.1.spec
srx-server/src/srx_server
srx-server/src/Makefile.tag.5.1.l
*Makefile.tag*

.rpkirtr_svr.history
*.swn
